body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-left: 20px;
}
h1{
    background-color: hsl(204, 72%, 24%);
    opacity: 0.8;
    color: rgb(240, 233, 233); 
    text-align: center; 
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(204, 72%, 24%);
    opacity: 0.8;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar a{
    color: rgb(240, 233, 233); 
    font-family: "Didot", "serif";
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center; 
}
.navbar a:hover{
    background-color: hsl(211, 33%, 43%); 
}
.navbar li{
    float: left; 
}
